@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Questrial", sans-serif;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.753);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span {
  font-weight: 500 !important;
}
h6 {
  font-weight: 900 !important;
}
